{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4" style="max-width: 920px;">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <h1 class="h4 mb-1">{{ app.title }}</h1>
      <div class="text-body-secondary">
        {{ app.company }}{% if app.location %}{% endif %}
      </div>
    </div>

    <div class="d-flex gap-2">
      <a class="btn btn-outline-secondary" href="{% url 'applications:list' %}">
        Back
      </a>
      <a class="btn btn-primary" href="{% url 'applications:edit' app.pk %}">
        Edit
      </a>
       <a class="btn btn-warning" href="{% url 'applications:delete' app.pk %}">
        Delete
      </a>
    </div>
  </div>

  <div class="row g-3">

    <h2 class="h6 mb-3">Details</h2>

<dl class="row mb-0">
  <dt class="col-sm-4 text-body-secondary">Applied</dt>
  <dd class="col-sm-8">
    {{ app.applied_at|date:"H:i - d.m.Y"|default_if_none:"—" }}
  </dd>

  <dt class="col-sm-4 text-body-secondary">HR reply</dt>
  <dd class="col-sm-8">
    {{ app.recruiter_reply_at|date:"H:i - d.m.Y"|default_if_none:"—" }}
  </dd>

  <dt class="col-sm-4 text-body-secondary">Last update</dt>
  <dd class="col-sm-8">
    {{ app.updated_at|date:"H:i - d.m.Y"|default_if_none:"—" }}
  </dd>

  <dt class="col-sm-4 text-body-secondary">Status</dt>
  <dd class="col-sm-8">
    <span class="badge bg-secondary">{{ app.status }}</span>
  </dd>

  <dt class="col-sm-4 text-body-secondary">Location</dt>
  <dd class="col-sm-8">
    {{ app.location|default:"—" }}
  </dd>

  <dt class="col-sm-4 text-body-secondary">Source</dt>
  <dd class="col-sm-8">
    {{ app.source|default:"—" }}
  </dd>

</dl>

{% if app.notes %}
  <hr>
  <h2 class="h6 mb-2">Notes</h2>
  <div class="text-body-secondary">
    {{ app.notes|linebreaksbr }}
  </div>
{% endif %}

  </div>

</div>
{% endblock %}
