jobapply.p95max.dev {
    encode zstd gzip

    handle_path /static/* {
        root * /opt/jobapply/staticfiles
        file_server
    }

    handle_path /media/* {
        root * /opt/jobapply/media
        file_server
    }

    reverse_proxy 127.0.0.1:8000
}
